*~
*.o
*.so
*.lo
*.a
*.la
*.loT
*.orig
*.rej
*.dirstamp
.libs
.deps

/.idea
 
# CMake
*/CMakeFiles
*/CMakeFiles/*
*CMakeCache.txt
/nbproject
/nbproject/*
*CMakeFiles*

/coverage/CMakeFiles
/coverage/node_modules
/coverage/CMakeCache.txt
/coverage/cmake_install.cmake
/coverage/CometQL.tab.c
/coverage/CometQL.tab.h
/coverage/lex.yy.c
/coverage/Makefile
/coverage/y.tab.c
/coverage/y.tab.h

/coverage/cppcomet_coverage

/coverage/CMakeFiles
/coverage/cov
/coverage/coverage
/coverage/node_modules
/coverage/CMakeCache.txt
/coverage/cmake_install.cmake
/coverage/CometQL.tab.c
/coverage/CometQL.tab.h
/coverage/coverage.html
/coverage/lex.yy.c
/coverage/Makefile
/coverage/posix_signal.log
/coverage/test-cov.js
/coverage/y.tab.c
/coverage/y.tab.h
