[Unit]
Description=Comet server
After=network.target
Documentation=http://comet-server.com

[Service]
Type=forking
ExecStart=/etc/comet-server/comet-service.sh restart 
TimeoutStopSec=0
Restart=always
User=root
Group=root
  
[Install]
WantedBy=multi-user.target
Alias=cppcomet.service
 
