<include>
   
  <X-PRE-PROCESS cmd="set" data="default_password={{password}}"/>
  
  <!--
      This setting is what sets the default domain FreeSWITCH will use if all else fails.
      
      FreeSWICH will default to $${local_ip_v4} unless changed.  Changing this setting does 
      affect the sip authentication.  Please review conf/directory/default.xml for more
      information on this topic.
  -->
  <X-PRE-PROCESS cmd="set" data="local_ip_v4={{local_ip_v4}}"/>
 
  <X-PRE-PROCESS cmd="set" data="xml_curl_gateway_url={{xml_curl_gateway_url}}"/> 
  
  <X-PRE-PROCESS cmd="set" data="esl_password=${default_password}"/>
  
</include>
